/* Practice Layout */

body,
html {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.wrapper-section{
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}


.list-inline {
    padding: 12px 20px;
    margin: 0px;
}

.list-inline li {
  display: inline;
 padding: 20px 30px;
}

/**Exercise one**/

.exerciseOne {
   margin: 20px auto;
   background: #ffd0c4;
}

.exerciseOne .header,
.exerciseOne .footer {
   background: #D24F2E;
   overflow: hidden;
   zoom: 1;
   clear: left;
}
.exerciseOne .sidebar{
   float: left;
   position: relative;
   width: 200px;
   margin-right: -200px;
   background: #8cd0d2;
}

.exerciseOne .principal{
   border-left: 200px solid #8cd0d2;
   padding: 20px;
}


