/* Practice Layout */

body,
html {
  color: #787878;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
  max-width: calc(100% - 350px);
}

.nm-page-container {
  margin: 0 auto;
  max-width: 1200px;
}

.nm-page-container h3 {
  border-bottom: 1px solid #D84723;
  font-size: 1.3em;
  line-height: 40px;
  margin-bottom: 50px;
}

.nm-content  {
   overflow: auto;
   padding: 20px;
   margin-bottom:40px;
}

.nm-first-container-columns {
   background-color: rgba(210, 234, 244, 0.7);
}

.nm-second-container-table {
   background-color: rgba(210, 234, 244, 0.6);
}

.nm-third-container-footer {
   background-color: rgba(210, 234, 244, 0.5);
}

/**First Exercise**/
.nm-content-first-column {
	 float: left;
	 margin-right: -320px;
	 width: 100%;
}

.nm-content-first-column p {
   margin-right: 350px;
}

.nm-sidebar-second-column {
	 float: left;
	 width: 250px;
}

.nm-sidebar-second-column h5 {
   margin-left: 40px;
}

.nm-sidebar-second-column ul {
   list-style: none;
   margin-left: 100px;
   border-left: 2px solid #fff
}

.nm-sidebar-second-column ul li {
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
    width: 120px;
    margin-bottom: 25px;
}

.nm-sidebar-second-column ul li a{


}
.nm-sidebar-second-column ul li  i {
    margin-right: 20px;

}

/**Second Exercise**/
.nm-column-list {
    list-style: none;
    text-align: center;
}

.nm-column-list li {
    border-bottom: 1px solid #ddd;
    line-height: 2em;
     width: 100px;
}

.nm-title-column {
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.nm-column-one {
    margin-left: 0;
}

.nm-column-two {
    margin-left: 100px;
}

.nm-column-three {
    margin-left: 200px;
}

.nm-top-column {
   margin-top: -9em;
}


/**Third Exercise**/

.nm-wrapper {
   min-height: 100%;
   margin-bottom: -20px;
}

.nm-wrapper p {
   text-align: justify;
   text-justify: inter-word;
}

.nm-wrapper button {
   margin-top: 30px;
   margin-bottom: 45px;
}

.nm-style-sticky-footer {
 background-color: #FF5733;
 color: #FFF;
}

.nm-content-sticky-footer {
    padding: 12px 20px;
    margin: 0px;
}

.nm-content-sticky-footer li {
 display: inline;
 padding: 20px 30px 0px 0px;
}


