/* Practice Layout */

body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

as-header{
  color: #000;
  font-size: 1.2em;
  line-height: 100px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
}

.as-page-container {
   margin: 0 auto;
   max-width: 1200px;
}
