/* Practice Layout */

body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h2 {
  border-bottom: 2px solid #ebebeb;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 40px;
  margin: 15px 0;
  padding-bottom: 15px;
  text-transform: uppercase;
}


/** Page containes**/
.as-page-container {
   margin: 0 auto;
   max-width: 1000px;
}

.as-page-container > aside {
  display: inline-block;
  width: 270px;
}

.as-page-container > section {
    display: inline-block;
    width calc(100% - 350px);
    vertical-align : top;
}


/** header **/
.as-header {
  border-bottom: 2px solid #ebebeb;
  color: #000;
  font-size: 0.9em;
  line-height: 100px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
}


/*** Main and principal content***/

.as-photo-model-images{
  display: flex;
  flex-wrap:wrap;
  padding: 25px;
}

.as-photo-model-image{

}


/** footer **/

footer {
  background-color: #787878;
  color: #fff;
  height: 60px;
  line-height: 60px;
  margin: 0 -20px -20px;
  padding: 20px;
}

footer div {
  margin: 0 auto;
  max-width: 1200px;
}
