/* Practice Fonts and Icons */


/** =================Fonts for practice============================================== **/


@font-face {
  font-family: 'raleway-bold';
  src: url('fonts/raleway/raleway-bold-webfont.eot');
  src: url('fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
  url('fonts/raleway/raleway-bold-webfont.woff') format('woff'),
  url('fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
  url('fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-normal';
  src: url('fonts/raleway/raleway-regular-webfont.eot');
  src: url('fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
  url('fonts/raleway/raleway-regular-webfont.woff') format('woff'),
  url('fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
  url('fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-thin';
  src: url('fonts/raleway/raleway-thin-webfont.eot');
  src: url('fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
  url('fonts/raleway/raleway-thin-webfont.woff') format('woff'),
  url('fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
  url('fonts/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
  font-weight: 100;
  font-style: normal;
}

/** ============================================================================================= **/


html, body {
  background-color: #D36E65;
  color: #FFF;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.3;
  position: relative;
}

p {
  padding: 2% 0;
}

p::first-letter {
  font-family: 'raleway-bold';
}

.fi-title {
  font-size: 2em;
  line-height: 2.5;
  font-family: 'raleway-thin'
}



.fi-wrapper-page-content{
position: relative;
}

/** Block light blue **/
.fi-wrapper-one-block-lightblue {
  background-color: #76C4D1;
  box-sizing: border-box;
  margin: 5%;
  padding: 5% 0;
  min-height: 100%;
  overflow: auto
}

.fi-wrapper-content-first {
  padding-left: 5%;
  width: 60%;
}

.fi-wrapper-content-two .fi-wrapper-content-three {
  width: 60%;
}

.fi-wrapper-content-first .fi-wrapper-content-tittle {
  font-size: 3em;
  font-family: 'raleway-bold';
}

.fi-wrapper-content-first .fi-icons-font-awesome{
   text-align: right;
   margin-right: 15px;
}

.fi-wrapper-content-two-section{
 margin-right: 100px;

}
.fi-wrapper-content-two-section p{
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5% 0;
  border-bottom: 1px solid #E72840;
}

.fi-wrapper-content-two-section .fi-input-text-search{
   width: 300px;
   height: 30px;
   position: relative;
   padding: 0;
   margin: 15px 0;
   background-color: white;
   color: black;
   border-radius: 5px;
}
.fi-wrapper-content-two-section .fi-input-text-search input {
  width: 100%;
   height: 100%;
   margin: 0;
   padding: 0 0 0 40px;
   box-sizing: border-box;
   border: none;
   border-radius: 5px;
}
.fi-wrapper-content-two-section .fi-input-text-search i {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 10px;
    height: 10px;
}

.fi-wrapper-content-three-block-section {
   background-color: rgba(255, 255, 255, 0.7);;
   padding: 1% 1% 1% 10%;
   margin-left: -10%;
   margin-right: 100px;
   color: black;
}

/** Block light gray z index: value 1 **/
.fi-wrapper-two-block-lightgray {
  background-color: rgba(102, 123, 134, 0.3);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  min-height: 100%;
  z-index: 1;
}

/** Block yellow z index: value 2 **/
.fi-wrapper-three-block-yellow {
  background-color: #DFE180;
  box-sizing: border-box;
  color: #8C8D57;
  line-height: 1;
  padding: 5%;
  position: absolute;
  margin-top: 5%;
  right: 5%;
  top: 0;
  width: 30%;
  z-index: 2;
}


.fi-wrapper-three-block-yellow  .fi-title-list {
  font-size: 25px;
  padding-bottom: 5%;
}

.fi-wrapper-three-block-yellow ul {
   margin:0;
   padding:0;
}

.fi-wrapper-three-block-yellow li {
  padding: 2% 0;
  font-weight: 100;
}

.fi-wrapper-three-block-yellow li:before {
 content: "\27BA ";
  padding-right: 8px;
}

.fi-wrapper-three-block-yellow li::after {
   counter-increment: section;
   content: " " counters(section,".");
 }


.fi-wrapper-three-block-yellow li:nth-child(2n+3)::after {
    content: "- using 'em' ";
    font-family: 'raleway-thin';
}

.fi-wrapper-three-block-yellow li:nth-child(even)::after {
    content: "- using 'pt' ";
    font-family: 'raleway-bold';
}
